body {
  margin: 0;
  padding: 0;
  color: #666666;
  font-size: 14px;
  font-family: poppins;

  font-weight: normal;
  overflow-x: hidden;
  align-content: center;
  align-items: center;
}
h3 {
  font-size: medium;
  font-weight: 100;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  /* height: auto; */
}

.header_section {
  width: 100%;
  float: left;
  background-color: #6c63ff;
  height: auto;
  padding: 25px 0;
}

.logo {
  width: 40%;
  float: left;
  text-align: center;
  padding-top: 10px;
}

/*  */

.footer_section {
  width: 100%;
  float: left;
  background-color: #303330;
  height: auto;
  margin-top: 90px;
  padding-bottom: 90px;
}

.copyright {
  width: 100%;
  float: left;
  background-color: #5c5950;
  height: auto;
}
.copyright_text {
  width: 100%;
  float: left;
  text-align: center;
  margin-left: 0px;
  font-size: 16px;
  color: #ffffff;
}
.copyright_text a {
  color: #ffffff;
}
.copyright_text a:hover {
  color: #000000;
}

.main-container {
  margin: 0;
  padding: 0;
}
.footer_section {
  align-content: center;
  width: 100vw;
  height: 20%;
}
.header_section {
  margin-top: 0;
}

.render-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 50vw;
  height: 100%;
  /* margin: 30px; */
}
.render {
  padding: 30px;
}
